anyio
fastapi
uvicorn
pandas
geopandas
numpy
scikit-learn
matplotlib
seaborn
shapely
fiona
pyproj
openpyxl
jinja2
python-multipart
requests
python-dotenv
statsmodels
catboost
xgboost
lightgbm
plotly
folium
mapclassify
scipy
networkx